/* 
Colours
---

White: #FFFFFF
Grey: #707070
Light-Grey: #E0E0E0
Green: #C5FAB2
Blue: #C1FFFD
*/


body {
	background-color: #707070;
	font-family: Helvetica;
	height: 100vh;
	margin: 0px 0px 0px 0px;
	color: #FFFFFF;
	/*overflow: hidden;*/
}

h1 {
	font-size: 5vh;
}

h2 {
	margin: 0;
}

a {
	
}

img {
	width: 100%;
}

button {
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: #b1ffa8;
	color: #707070;
}

button:hover {
	background-color: #91ff85;
	color: #707070;
}
	
.title {
	color: #FFFFFF;
	background-color: #707070;
	height: 10%;
}

.displayView {
	background-color: #FFFFFF;
	float: right;
	width: 80%;
	height: 90%;
}

.sideBar {
	float: left;
	width: 20%;
	height: 90%;
}

.dataDisplay {
	color: #707070;
	padding: 0px 10px;
	background-color: inherit;
	font-size: 5vh;
}

.emptyMeter {
	float: left;
	height: 80%;
	width: 5%;
	margin: 10px 10px 10px 10px;
	/*border-radius: 999px;*/
	border: 2px solid black;
}

.meterFill {
	float: left;
	height: 10%;
	width: 100%;
	background-color: #E0E0E0;
	margin: 0px 0px 0px 0px;
	transition: 0.1s;
	/*border-radius: 999px 999px 0px 0px;*/
}

.chartContainer {
	float: left;
	height: 40%;
	width: 65%;
}

.circle {
	position: relative;
	border-radius: 50%;
	width: 100%;
	height: auto;
	padding-top: 100%;
	background: #FFFFFF;
}

.login {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
	background-color: #C5FAB2;
	border-radius: 5px;
}

.meterLbl {
	text-align: center;
}

.statListWrapper {
	cursor: pointer;
	float: right;
	height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.statListElement {
	top: 50%;
	float: right;
	position: relative;
	transform: translateY(-50%);
	height: 80%;
}

.titleWrapper {
	top: 50%;
	float: left;
	position: relative;
	transform: translateY(-50%);
}

.statListWrapper:hover {
	cursor: pointer;
}

.confirmBtn {
	background-color: #ff7d7d;
}

.confirmBtn:hover {
	background-color: #ff4545;
}

.incDecBtn {
	width: 2em;
}

.drops {
	opacity: 0;
}

.potWrapper {
	height: 100%;
	width: 30%;
	float: left;
	border-width: thin;
}

.potWrapper:hover {
	cursor: pointer;
}

.potWrapper img {
	height: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border-width: 2px;
	margin: auto;
	display: block;
}

#stationDash {
	height: 100%;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#titleLbl {
	float: left;
	height: 100%;
}

#titleLbl:hover{
	cursor: pointer;
}

#titleBar {
	height: 10%;
}

#newStatBtn {
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: #b1ffa8;
	color: #707070;
}

#newStatBtn:hover {
	background-color: #91ff85;
	color: #707070;
}

#menuBar {
	position: fixed;
	right: 0;
	z-index: 1;
	background-color: #707070;
	overflow-x: hidden;
	/*overflow-y: hidden;*/
	height: 50%;
}

#menuBar button {
	margin: 2px;
}

#sideBarBtn {
	height: 100%;
	width: 3em;	
	font-size: large;
	margin-left:1em;
	margin-right:0.5em;
	display:block;

}

#waterTime {
	width: 1em;
}

#sideImagesWrapper {
	float: left;
	width: 20%;
	height: 90%;
}

#plantWrapper {
	margin: auto;
	width: 100%;
	height:50%;
}

#cloudWrapper {
	margin: auto;
	width: 80%;
	height: 30%;
}

#cloud:hover {
	/*cursor: pointer;*/
	cursor: var(--cloudHoverStyle);
}

#dropWrapper {
	margin: auto;
	width: 70%;
	height: 20%;
}

#logoWrapper {
	height: 100%;
	float: left;
	margin-right: 1em;
}

#logo {
	height: 80%;
    padding: 10%;
}

#potSizes {
	height: 30%;
}

#smallPotImg {
	width: 50%;
}

#mediumPotImg {
	width: 75%;
}

#largePotImg {
	width: 100%;
}

@keyframes dropFade {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}
