body
{
	background-color: gray;
	font-family: JetBrainsMono-Regular, JetBrains Mono;
	height: 100vh;
	margin: 0px 0px 0px 0px;
	/*overflow: hidden;*/
}

h1
{
	font-size: 5vh;
}

h2
{
	margin: 0;
}

a
{
	
}

img
{
	width: 100%;
}

button
{
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: #b1ffa8;
	color: grey;
}

button:hover
{
	background-color: #91ff85;
	color: grey;
}
	
.title
{
	color: white;
	background-color: gray;
	height: 10%;
}

.displayView
{
	background-color: white;
	float: right;
	width: 80%;
	height: 100%
}

.sideBar
{
	float: left;
	width: 20%;
	height: 100%;
}

.dataDisplay
{
	color: gray;
	padding: 0px 10px;
	background-color: inherit;
	font-size: 5vh;
}

.emptyMeter
{
	float: left;
	height: 80%;
	width: 5%;
	background-color: green;
	margin: 10px 10px 10px 10px;
	/*border-radius: 999px;*/
	border: 2px solid black;
}

.meterFill
{
	float: left;
	height: 10%;
	width: 100%;
	background-color: #CFD8DC;
	margin: 0px 0px 0px 0px;
	transition: 0.1s;
	/*border-radius: 999px 999px 0px 0px;*/
}

.chartContainer
{
	float: left;
	height: 40%;
	width: 65%;
}

.circle
{
	position: relative;
	border-radius: 50%;
	width: 100%;
	height: auto;
	padding-top: 100%;
	background: white;
}

.login
{
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
	background-color: #c5fab2;
	border-radius: 5px;
}

.meterLbl
{
	text-align: center;
}

.statListWrapper
{
	cursor: pointer;
	float: right;
	height: 100%;
}

.statListElement
{
	top: 50%;
	float: right;
	position: relative;
	transform: translateY(-50%);
}

.titleWrapper
{
	top: 50%;
	float: left;
	position: relative;
	transform: translateY(-50%);
}

.statListWrapper:hover
{
	cursor: pointer;
}

.confirmBtn
{
	background-color: #ff7d7d;
}

.confirmBtn:hover
{
	background-color: #ff4545;
}

.incDecBtn
{
	width: 2em;
}

.drops
{
	opacity: 0;
}

#stationDash
{
	height: 100%;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#titleLbl
{
	float: left;
	height: 100%;
}

#titleBar
{
	height: 10%;
}

#newStatBtn
{
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: #b1ffa8;
	color: grey;
}

#newStatBtn:hover
{
	background-color: #91ff85;
	color: grey;
}

#sideBar
{
	width: 0;
	position: fixed;
	z-index: 1;
	background-color: #4f4f4f;
	overflow-x: hidden;
	overflow-y: hidden;
	transition: 0.1s;
}

#sideBarBtn
{
	
}

#waterTime
{
	width: 1em;
}

#sideImagesWrapper
{
	float: left;
	width: 20%;
	height: 100%;
}

#plantWrapper
{
	margin: auto;
	width: 100%;
	height:50%;
}

#cloudWrapper
{
	margin: auto;
	width: 80%;
	height: 30%;
}

#cloud:hover
{
	cursor: pointer;
}

#dropWrapper
{
	margin: auto;
	width: 70%;
	height: 20%;
}

@keyframes dropFade
{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}