body {
  margin: 20px 10px;
  font-family: "Monospace", Lucida, Verdana, sans-serif;
  background: lightblue;
}
a {
  color: black;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  
}
.navbar{
border-width: 3px;
border-style : dotted;
height: 30px;
width: 100px;
margin: 30px;
padding: 10px 30px;;
color: darkred;


}
.container:header{
background: darkred;
}
.yt-img {
  width: 100%;
  max-width: 580px;
  float: left;
  margin: 0 10px 10px 0;
}
.clearfix {
  clear: left;
}
.list{
color:red;

}
.table{
margin: 0 auto;
border-width= 3px;
border-color= red;
}
